@page
@model Assessment.NetCore.Views.Amigo.Amigos

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
  <title>Lista amigos</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Agenda de Aniversários</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Amigo" asp-action="CadastroAniversarioAmigos">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Amigo" asp-action="ListaCompletaAmigos">Lista Completa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<form method="post" action="/listaAniv">
  <div class="form-group">
    <div class="col-md-4 mb-3">
      <label>Nome</label>
      <input type="text" class="form-control " name="nome" placeholder="Nome" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Sobrenome</label>
      <input type="text" class="form-control" name="sobrenome" placeholder="Sobrenome" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Data de Nascimento</label>
      <input type="date" class="form-control" name="dataDeNascimento" placeholder="Data de Nascimento" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>
</body>
</html>